<ion-header>
  <ion-navbar>
    <ion-title>Pay</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="statusMessage">
    <h2>Status:</h2>
    <p>{{ statusMessage }}</p>
  </div>

  <ion-grid class="calc-input">
    <ion-row>
      <ion-col>
        <div class="input">{{ saleParams.amount | currency:'USD':true:'2.2-4' }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button large ion-button block (click)="sale()">Pay</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="calc-buttons">
    <ion-row>
      <ion-col>
        <button large ion-button block (click)="clicked('1')">1</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('2')">2</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('3')">3</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button large ion-button block (click)="clicked('4')">4</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('5')">5</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('6')">6</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button large ion-button block (click)="clicked('7')">7</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('8')">8</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('9')">9</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button large ion-button block (click)="clicked('00')">00</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="clicked('0')">0</button>
      </ion-col>
      <ion-col>
        <button large ion-button block (click)="delete()"><ion-icon name="ios-backspace-outline"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h2>Event log</h2>
  <ul>
    <li *ngFor="let event of events">{{ event }}</li>
  </ul>

</ion-content>
