<ion-header>
  <ion-navbar>
    <ion-title>Configuration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-bg" padding>

  <ion-list>
    <ion-item (click)="searchDevices()">
      <ion-icon name="ios-search-outline" item-start></ion-icon>
      Connect to device
    </ion-item>
    <ion-item (click)="log()">
      <ion-icon name="ios-list-box-outline" item-start></ion-icon>
      Logs
    </ion-item>
    <ion-item>
      <ion-icon name="ios-cash-outline" item-left></ion-icon>
      <ion-label>Currency</ion-label>
      <ion-select item-right [(ngModel)]="currencyCode" name="currency" (ionChange)="updateCurrency()">
        <ion-option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.name }} <span *ngIf="currency.symbol">({{ currency.symbol.grapheme }})</span></ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
