page-configuration {
  ion-item {
    &.item,
    &.item-md {
      color: white;
      background-color: transparent;
    }
  }
  .item-select {
    ion-label {
      background-color: transparent;
      &.label,
      &.label-md {
        color: white;
        background-color: transparent;
      }
    }
  }
}
